*_latest_buffer.pkl
.vscode/
build/
install/
log/
tmux*

# Generated FixedFPS experiments
FixedFPS/eval/

# Generated AdaptiveFPS experiments
AdaptiveFPS/eval/
AdaptiveFPS/runs/
old_results/

# Generated artifacts
*.npz
*.mp4

# Python cache
__pycache__/
*.pyc